/* Body Styles */
body {
  background-color: #f5f5f500;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  position: relative;
}

/* Header Styles */
header {
  background-color: #1c2331c0;
  color: #fdfcfc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.521);
}
.header-area {
  display: inherit;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-toggler-icon {
  background-image: none;
}
.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
  color: #0594fa;
  text-decoration: underline;
}
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
  color: #0594fa;
}
.navbar {
  padding: 0 0;
}
.navbar-brand {
  display: inherit;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 8rem;
  font-size: 2.25rem;
  line-height: inherit;
  white-space: nowrap;
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

header nav li {
  margin-left: 20px;
}

header nav li:first-child {
  margin-left: 0;
}

/* this is the header section*/
header nav a {
  text-decoration: none;
  color: #fffdfd;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

header nav a:hover {
  color: #0594fa;
}
#contact-us-btn {
  background: none;
  border: unset;
  margin-bottom: 50px;
}
#contact-us-btn a {
  text-decoration: none;
}
/* Section Styles */
section {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #ffffff86;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* this is 'lets develop together" */
section h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #1c2331;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  margin-bottom: 0;
}
.form-bg {
  background-color: #223E56;
}
#Our-Services .container {
  padding: 0;
}
/* President's Biography Styles */
#president-bio {
  background-color: #1c2331c5;
  color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#president-bio h2 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#president-bio h3 {
  color: #ffffffef;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

#president-bio p {
  color: #ffffff;
  text-align: justify;
  line-height: 1.8;
}

#president-bio img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* President's Photo Styles */
#president-photo {
  background-color: #ffffff00;
  color: #33333300;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#president-photo h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #f4f5f8;
  margin-bottom: 20px;
  text-align: center;
}

#president-photo img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Footer Styles */
footer {
  background-color: #1c2331;
  padding: 40px;
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}


footer p {
  margin-bottom: 0;
}

footer a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #0594fa;
}

/* Link Styles */
a {
  color: #0072c6;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #0594fa;
}

/* Button Styles */
.btn {
  display: inline-block;
  background-color: #46667c;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #1c2331;
  color: #ffffff;
  border: 1px solid #fff;
}

/* Highlight Styles */
.highlight {
  color: #ff8c00;
  font-weight: 700;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.custom-contact-form {
  margin-bottom: 0;
}
.contact-form .container.form {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header h1 {
    font-size: 2rem;
  }

  header nav {
    margin-top: 20px;
  }

  section {
    padding: 20px;
  }

  #president-bio {
    padding: 20px;
  }

  #president-bio img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}

.header {
  position: relative;
}

.header-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}

.header-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0;
}


#customer-success-story ul li a {
  color: rgba(255, 43, 43, 0.918);
}

@media only screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  header nav {
    flex-direction: initial;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  header nav li {
    margin: 10px 0;
  }
  
  #president-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .btn {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
  #president-bio p {
    line-height: 1.6;
    word-spacing: -2px;
  }
}
